* {
    font-size: 1.05rem;
}

a {
    color: rgb(68, 159, 249);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(209, 76, 242);
}

article {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    font: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    border-radius: 0.5rem;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body,
.chapterBox .card {
    /* Font color for light background */
    color: #000;
}

.box-1 {
    text-align: right;
    grid-column: 1 / 2;
    color: white;
    vertical-align: middle;
}

.box-2 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.box-3 {
    color: white;
    vertical-align: middle;
    text-align: center;
    grid-column: 2;
}
.box-4 {
    color: white;
    vertical-align: middle;
    text-align: left;
    grid-column: 3;
}

.boxItem {
    flex: auto;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid black;
    border-radius: 1rem;
}

.box-title {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0.5em;
}

.settings-tray button {
    color: #333;
    font-size: 1.5rem;
    padding: 0.25rem 0.5rem;
}

button {
    background-color: transparent;
    color: white;
    border: none;
}

button:hover {
    color: white;
}

button:active {
    color: gray;
}

.container {
    display: grid;

    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto;

    grid-gap: 10px 15px;

    padding: 10px;
}

label {
    display: block;
}

h1 {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

h2 {
    font-size: 1.5rem;
}

.hidden {
    display: none;
}

input {
    vertical-align: middle;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(1em);
    -ms-transform: translateX(1em);
    transform: translateX(1em);
}

input:disabled {
    color: #ccc;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

.MathJax {
    font-size: 1.1rem;
    font-weight: bolder;
}

.play-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1em;
    place-items: center;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    left: 0.1em;
    bottom: 0.1em;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.slot {
    display: none;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 1.2em;
    text-align: right;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.titlefont {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.top-title {
    color: white;
    font-size: smaller;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
    cursor: pointer;
}

.chapterBox .collapse-info,
.chapterBox article,
.objectBoxOuter {
    color: white;
}
