{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta id="csrf-token" name="csrf-token" content="{{csrf_token}}">

        <title>3Demos</title>

        <link rel="icon" type="image/png" href="{% static 'mathplayground/favicon.png' %}">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
              crossorigin="anonymous">

        <link rel="stylesheet" href="{% static 'mathplayground/global.css' %}">
        <link rel="stylesheet" href="{% static 'mathplayground/build/bundle.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
        
        <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
        
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>

        <script>
            window.STATIC_PREFIX = '{% static 'mathplayground' %}';
            {% if request.session %}
            window.SESSION_KEY = '{{ request.session.session_key }}';
            {% endif %}

            {% if scene_state %}
            // Initial scene state loaded from Redis
            window.SCENE_STATE = {{scene_state|safe}};
            {% endif %}
        </script>

        <script defer src="{% static 'mathplayground/build/bundle.js' %}"></script>
        {% if GA_CODE %}
            <!-- Google tag (gtag.js) -->
            <script async src="https://www.googletagmanager.com/gtag/js?id={{GA_CODE}}"></script>
            <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '{{GA_CODE}}', { 'anonymize_ip': true });
            </script>
        {% endif %}        
    </head>
    <body>
    </body>
</html>
